/*** whole table ***/
.table > tbody > tr > td, .table > tbody > tr > th, .table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
  border: none;
}

.table {
  border-spacing: 0 0.3rem !important;
  margin:0 auto;
}

.table td {
  background: #f8f8f8;
}

/*** table head ***/
.table thead tr,
.table thead th {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before  {
  font-style: normal;
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 90%;
  line-height: 1.45em;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  font-style: normal;
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 90%;
  line-height: 1.45em;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

/*** table columns ***/
.mr-2{
  margin-right: 0px !important;
}

td.aHelmet{
  padding-right: 1px;
}

td.hHelmet{
  padding-left: 1px;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*** table content ***/
span.badge.badge-success, span.badge.badge-danger{
  text-transform: uppercase;
}

/*** table footer ***/
#winLossTotal{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

#footerRow{
  border-top: none;
  background-color: transparent;
}

/*** table pagination/info/length ***/
.page-item.active .page-link{
  background-color: #3b0811;
  border-color: #3b0811;
}

.page-link{
  color: #3b0811;
}

.page-link:hover{
  color: #462329;
}

#footballTable_info{
  white-space: normal;
}

#footballTable_length, #footballTable_info, #footballTable_paginate {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  top: 38px;
  left: 8px;
}

/*** table expanded child elements ***/
#innerTable{
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 10px;
}

#innerArticle{
  padding: 10px;
}

#innerTitle{
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{
  content: '+';
  background-color: white;
  color: #3b0811;
  border-radius: 14px;
  box-shadow: none;
  top: 38px;
  left: 8px;
  font-weight: bold;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before {
  content: '-';
  background-color: white;
  color: #3b0811;
  border-radius: 14px;
  box-shadow: none;
  font-weight: bold;
}

/*** Calendar Icon ***/
div.calendarDate {
  font-size:6px;
  /*change calendarIcon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  overflow: hidden;
}
div.calendarDate * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-style: normal;
  text-align: center;
}
div.calendarDate a {
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #3b0811;
}
div.calendarDate a:hover {
  color: #fff;
}
div.calendarDate em {
  position: absolute;
  bottom: 0em;
  color: #fff;
  padding-top:.2em;
  height: 1.6em;
  background-color: #3b0811;
}
div.calendarDate span {
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.55em;
  color: #2f2f2f;
}