/*** navbar background ***/
.navbar {
    background-color: #3b0811;
}

/*** navbar brand ***/
.navbar-brand{
    color: white;
    font-weight: 700;
}

/*** mobile collapse button ***/
.fa-bars{
    color: white;
}