RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

#Redirect to Welcome
DirectoryIndex /welcome.php

#Standard Redirections
Redirect /welcome /welcome.php
Redirect /football /football.php
Redirect /baseball /baseball.php
Redirect /mbasketball /mbasketball.php
Redirect /wbasketball /wbasketball.php
Redirect /taylorsville /taylorsville.php
Redirect /southernmiss /southernmiss.php

#Common Redirections
Redirect /fb /football.php
Redirect /bb /baseball.php
Redirect /bsb /baseball.php
Redirect /mbk /mbasketball.php
Redirect /wbk /wbasketball.php
Redirect /tartars /taylorsville.php
Redirect /ths /taylorsville.php
Redirect /eagles /southernmiss.php
Redirect /goldeneagles /southernmiss.php
Redirect /usm /southernmiss.php

#Specific Redirections
Redirect /bowls /football.php?gameA=Bowl_Games
Redirect /football/bowls /football.php?gameA=Bowl_Games
Redirect /leach /football.php?gameA=Mike_Leach
Redirect /football/leach /football.php?gameA=Mike_Leach
Redirect /mike /football.php?gameA=Mike_Leach
Redirect /football/mike /football.php?gameA=Mike_Leach
Redirect /moorhead /football.php?gameA=Joe_Moorhead
Redirect /football/moorhead /football.php?gameA=Joe_Moorhead
Redirect /joe /football.php?gameA=Joe_Moorhead
Redirect /football/joe /football.php?gameA=Joe_Moorhead
Redirect /mullen /football.php?gameA=Dan_Mullen
Redirect /football/mullen /football.php?gameA=Dan_Mullen
Redirect /dan /football.php?gameA=Dan_Mullen
Redirect /football/dan /football.php?gameA=Dan_Mullen
Redirect /croom /football.php?gameA=Sylvester_Croom
Redirect /football/croom /football.php?gameA=Sylvester_Croom
Redirect /sherill /football.php?gameA=Jackie_Sherill
Redirect /football/sherill /football.php?gameA=Jackie_Sherill
Redirect /jackie /football.php?gameA=Jackie_Sherill
Redirect /football/jackie /football.php?gameA=Jackie_Sherill