<!-- Uniform Select -->
<optgroup label="Helmets">
  <option>Gold Helmets</option>
  <option>Black Helmets</option>
</optgroup>
<optgroup label="Jerseys">
  <option>Green Jerseys</option>
  <option>White Jerseys</option>
  <option>Gold Jerseys</option>
  <option>Gray Jerseys</option>
  <option>Black Jerseys</option>
</optgroup>
<optgroup label="Pants">
  <option>Gold Pants</option>
  <option>White Pants</option>
  <option>Green Pants</option>
  <option>Gray Pants</option>
  <option>Black Pants</option>
</optgroup>