/*** import font ***/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap');

/*** page body ***/
body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;    
}

/*** font weight on badges ***/
.badge {
    font-weight: 500;
}