/*** import fonts ***/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/*** page body ***/
body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;    
}

/*** font weight on badges ***/
.badge {
    font-weight: 500;
}

/*** no blue outines on focus ***/
div:focus, a:focus { 
    outline: none;
}

/*** variables for re-use throughout styles ***/
:root {
    --maroon: #431724;
  }