/*** navbar background ***/
.navbar{
    background-color: #222322;
}

/*** navbar brand ***/
.navbar-brand{
    color: white;
    font-weight: 700;
}

/*** dropdown ***/
#navDropdownMenu{
    background-color: #222322;
    border: none;
}

.nav-item.dropdown #navbarDropdown{
    color: #919191;
}

.nav-item.dropdown.show #navbarDropdown{
    color: #c7c7c7;
}

.nav-item.dropdown.active #navbarDropdown{
    color: white !important;
}

#navDropdownItem{
    text-align: center;
    padding: .5rem 0rem;
    color: #919191;
}

#navDropdownItem:hover{
    background-color: #222322;
    color: #c7c7c7;
    border-radius: 5px;
}

#navDropdownItem:active, #navDropdownItem.dropdown-item.active{
    background-color: #222322 !important;
    color: white !important;
    border-radius: 5px;
}

#navDropdownMenu.dropdown-menu.show{
    padding-top: 0;
    padding-bottom: 0;
}

/*** mobile collapse button ***/
.fa-bars{
    color: white;
}
