/*** page title ***/
#title{
    padding-top: 20px;
    color: #3b0811;
}

.titleTop{
    padding: 20px;
    padding-bottom: 10px;
    color: #3b0811;
}

.titleBottom{
    padding: 20px;
    padding-top: 0px;
    color: #3b0811;
}

.titleImage{
    max-width: 100%;
    height: auto;
}

/** welcome page **/
.fa-envelope, .fa-twitter{
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 25px;
    color: white;
}

.fa-twitter{
    background-color: #1DA1F2;
}

.fa-envelope{
    background-color: #15bb76;
}

.modal-header, .modal-body{
    color: #3b0811;
}

.bio{
    padding-left: 0px;
}

.bio-pic{
    justify-content: center !important;
    display: flex;
    margin-bottom: 1rem;
    padding: 0px;
}

/*** report issue ***/
#message, .dropdown.issue{
    width: 100% !important;
}

.label{
    justify-content: left;
    display: flex;
}

label{
    color: #3b0811;
}

/*** login + admin pages ***/
.just-center{
    justify-content: center;
    display: flex;
}

.just-center-10-pad{
    justify-content: center;
    display: flex;
    padding: 10px;
}

.submitBtn, .standardBtn{
    color: white;
    background-color: #3b0811;
}

.submitBtn:focus, .standardBtn:focus{
    border-color: #9e5361;
    box-shadow: 0 0 0 0.2rem #df9ba8;
}

.submitBtn:hover, .standardBtn:hover{
    background-color: #582730;
    color: white;
}

.btn-sm{
    margin: 10px;
}

.form-control:focus {
    border-color: #9e5361;
    box-shadow: 0 0 0 0.2rem #df9ba8;
}

.item{
    width: 220px;
}

.errorAlert{
    line-height: 5px;
}

.pageLinks{
    justify-content: center;
    display: flex;
}

.list-group{
    padding: inherit;
}

#action, #dbTable{
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-top: 0px;
}

#go{
    justify-content: center;
    display: flex;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#itemForm{
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputRow{
    justify-content: center;
    display: flex;
}

.adminDB{
    max-width: 250px;
    text-align: center;
}

.datepicker table tr td.active{
    background-color: #3b0811 !important;
    background-image: none !important;
    text-shadow: none !important;
}

.datepicker table tr td.today{
    background-color: white;
    background-image: none !important;
    text-shadow: none !important;
}

.datepicker table tr td.today:hover{
    background-color: #eee !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #3b0811 !important;
    color: white !important;
}
