/*** whole table ***/
.table > tbody > tr > td, .table > tbody > tr > th, .table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
  border: none;
}

.table {
  border-spacing: 0 0.3rem !important;
  margin:0 auto;
}

.table td {
  background: #f8f8f8;
}

/*** table head ***/
.table thead tr,
.table thead th {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 500;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before  {
  font-style: normal;
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 90%;
  line-height: 1.45em;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  font-style: normal;
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 90%;
  line-height: 1.45em;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

/*** table columns ***/
.mr-2{
  margin-right: 0px !important;
}

td.aHelmet{
  padding-right: 1px;
}

td.hHelmet{
  padding-left: 1px;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*** table content ***/
span.badge.badge-success, span.badge.badge-danger{
  text-transform: uppercase;
}

#neutral td {
  background: #f0f0f0;
}

#road td {
  background: #e8e8e8;
}

#bowlGames td{
  background: #d4d8e2;
}

#ncaa td, #ncaaCWS td{
  background: #c6e9ff;
}

#secT td, #secChampionship td{
  background: #ffd085;
}

#ncaaSsEe td{
  background: #ffcbc6;
}

#ncaaFinalFour96 td{
  background: #8ee8e4;
}

#ncaaFinalFour17 td{
  background: #c7ec81;
}

#ncaaFinalFour18 td{
  background: #c099ff;
}

#ncaaNationalChampionship td, #ncaaNationalChampionshipCWS td{
  background: #dbb979;
}

#wnit td{
  background: #96a1ff;
}

#nit td{
  background: #c9abfb;
}

#nitSemis td{
  background: #ffb966;
}

#ncaaStarkvilleRegional td, #ncaaTallahasseeRegional td, #ncaaLafayetteRegional td, #ncaaColumbusRegional td{
  background: #fdc8d0;
}

#ncaaStarkvilleSuper td{
  background: #df9ba5;
}

#ncaaNashvilleSuper td{
  background: #dbc995;
}

#ncaaHattiesburgRegional td{
  background: #c8c8c8;
}

#ncaaBatonRougeSuper td{
  background: #9877d2;
}

#ncaaCharlottesvilleSuper td, #ncaaClemsonSuper td{
  background: #e8a281;
}

#ncaaClemsonRegional td{
  background: #ffb591;
}

#ncaaAtlantaRegional td{
  background: #e1ce96;
}
 
#ncaaGainesvilleSuper td, #ncaaFullertonSuper td{
  background: #95a3e3;
}

#ncaaCoralGablesRegional td{
  background: #a5e1c9;
}

/*** table footer ***/
#winLossTotal{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

#footerRow{
  border-top: none;
  background-color: transparent;
}

/*** table pagination/info/length ***/
.page-item.active .page-link{
  background-color: #3b0811;
  border-color: #3b0811;
}

.page-link{
  color: #3b0811;
}

.page-link:hover{
  color: #462329;
}

#footballTable_info, #mbkTable_info, #wbkTable_info, #baseballTable_info{
  white-space: normal;
}

#footballTable_length, #footballTable_info, #footballTable_paginate,
#mbkTable_length, #mbkTable_info, #mbkTable_paginate,
#wbkTable_length, #wbkTable_info, #wbkTable_paginate,
#baseballTable_length, #baseballTable_info, #baseballTable_paginate {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  top: 38px;
  left: 8px;
  padding-top: 0px;
}

/*** table expanded child elements ***/
#innerTable{
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 10px;
}

#innerArticle{
  padding: 10px;
}

#innerTitle{
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{
  content: '+';
  background-color: white;
  color: #3b0811;
  border-radius: 14px;
  box-shadow: none;
  top: 38px;
  left: 8px;
  font-weight: bold;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before {
  content: '-';
  background-color: white;
  color: #3b0811;
  border-radius: 14px;
  box-shadow: none;
  font-weight: bold;
}