/*** page title ***/
#title {
    padding: 20px;
    color: #3b0811;
}

/*** filters ***/
#seasons, #situationA, #situationB, #opponents, #search{
    margin-bottom: 20px;
}

#filters, #filtersRowTwo{
    justify-content: center;
}

.form-control{
    display: inline-block;
    width: 220px;
}

#opponentClear, #fbSitAClear, #fbSitBClear, #seasonClear, #searchClear, 
#mbkOpponentClear, #mbkSitAClear, #mbkSitBClear, #mbkSeasonClear, #mbkSearchClear{
    margin-left: -10px;
    margin-right: 10px;
}

/*** table container ***/
#table{
    justify-content: center;
}